
<html>
    <head>
        <title>Day4 Chart</title>
    </head>
    <body class="day4">
        <h1 class="diet1">Breakfast</h1>
        <ul>
            <li>2 slice brown bread</li>
            <li>1 small bowl sprouts</li>
        </ul>
        <h1 class="diet1">Mid-morning</h1>
        <ul>
            <li>1 bowl mixed fruits</li>
        </ul>
        <h1 class="diet1">Lunch</h1>
        <ul>
            <li>1.5 bowl veg-pulav rice</li>
            <li>1 bowl moong dal tadka</li>
            <li>1 bowl low fat curd</li>
            <li>1 plate green raw salad</li>
    
        </ul>
        <h1 class="diet1">Evening</h1>
        <ul>
            <li>1 cup light Tea</li>
            <li>2 wheat rush</li>
        </ul>
        <h1 class="diet1">Dinner</h1>
        <ul>
            <li>2 Chappati with bowl mixed dal</li>
        </ul>
        
        
    </body>
</html>